# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: Unlicense

.cache
coreos.iso
containers/pxe-http/os

# Environment files
.env

# Nix
.direnv/
result/
*.drv

containers/pxe-tftp/tftpboot/ipxe*.efi
containers/pxe-tftp/tftpboot/undionly.kpxe
