# Set install mode
cmdline

# Prepare Install Device
bootloader --driveorder="{{{install_device}}}"
clearpart --drives="{{{install_device}}}" --all
zerombr
autopart

# Localization
keyboard us
lang en_US
timezone America/New_York

# Networking
network --onboot=yes --bootproto=dhcp

# Configure Users
rootpw --lock
user --name=labadm --shell=/usr/bin/bash --groups=wheel --password="{{{labadm_passwd}}}"

# Configure Services
services --enabled=dnf-automatic.timer

# Configure Packages
%packages
@hardware-support
@virtualization

ansible
cockpit-machines
cockpit-networkmanager
cockpit-packagekit
cockpit-podman
cockpit-storaged
cockpit-system
dnf-automatic
git
%end

# Post-installation Script
%post
install \
    -o root -g root -m440 \
    <(echo -e '%wheel\tALL=(ALL)\tNOPASSWD: ALL') \
    /etc/sudoers.d/01_wheel

install \
    -o root -g root -m644 \
    <(cat << EOF
    [commands]
    upgrade_type = default
    random_sleep = 0

    network_online_timeout = 60

    download_updates = yes
    apply_updates = yes

    reboot = when-needed
    reboot_command = "shutdown -r +5 'Rebooting after applying package updates'"

    [emitters]
    emit_via = stdio

    [email]
    email_from = root@example.com
    email_to = root
    email_host = localhost
    email_port = 25
    email_tls = no

    [command_email]
    email_from = root@example.com
    email_to = root

    [base]
    debuglevel = 1
EOF
    ) /etc/dnf/automatic.conf

install \
    -o root -g root -m644 \
    <(cat << EOF
    [hypervisor]
    localhost
EOF
    ) /etc/ansible/hosts

install \
    -o root -g root -m644 \
    <(cat << EOF
    [Unit]
    Description=Runs Ansible Pull
    ConditionFileIsExecutable=/usr/bin/ansible-pull

    [Service]
    Type=oneshot
    ExecStart=/usr/bin/ansible-pull -U https://github.com/ajpantuso/homelab-os-images ansible/main.yaml
EOF
    ) /etc/systemd/system/ansible-pull.service

install \
    -o root -g root -m644 \
    <(cat << EOF
    [Unit]
    Description=Ansible Pull Timer
    After=network.target network-online.target nss-lookup.target

    [Timer]
    OnCalendar=00/2:01:00

    [Install]
    WantedBy=timers.target
EOF
    ) /etc/systemd/system/ansible-pull.timer

systemctl daemon-reload
systemctl enable --now ansible-pull.timer

install \
    -o root -g root -m644 \
    <(cat << EOF
    [Unit]
    Description=Scheduled Reboot

    [Service]
    Type=oneshot
    ExecStart=/usr/bin/systemctl --force reboot
EOF
    ) /etc/systemd/system/scheduled-reboot.service

install \
    -o root -g root -m644 \
    <(cat << EOF
    [Unit]
    Description=Schedules reboot

    [Timer]
    OnCalendar=Sun *-*-* 07:30:00

    [Install]
    WantedBy=timers.target
EOF
    ) /etc/systemd/system/scheduled-reboot.timer

systemctl daemon-reload
systemctl enable --now scheduled-reboot.timer
%end

# Reboot After Installation
reboot --eject
