[Unit]
Description=Runs Ansible Pull
ConditionFileIsExecutable=/usr/bin/ansible-pull

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-pull -U https://github.com/ajpantuso/homelab-os-images ansible/main.yaml
